p {
    margin: 0;
    line-height: 100%;
}

.bg {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(245, 245, 245); */
}

.navbar-top {
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    width: 950px;
    height: 45px;
}

.navbar-top div, button, img, a{
    margin-right: 5px;
}

.woori-logo {
   width: 31px;
   margin-top: -3px;
}

.login-btn {
    background: rgb(104, 104, 104);
    color: white;
    width: 55px;
    height: 21px;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    
}

.main-logo {
    width: 90px;
    height: 24px;
}

.center-font {
    font-size: 12px;
    padding-top: 3px;
}

.side-wrap {
    margin-left: 200px;
    display: flex;
}

.input input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #a0a0a0;
    width: 130px;
    box-sizing: border-box;
    height: 26px;
    display: flex;
    outline: none;
}

.input i {
  position: relative;
  left: 115px;
  top: -25px;
}

.navbar-bottom {
    width: 950px;
    display: flex;
    margin: 0 auto;
}

.navbar-bottom div {
    background-color: rgb(66, 172, 175);
    color: white;
    font-weight: bold;
    padding-left: 30.62px;
    padding-right: 30.62px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-end {
    display: flex;
    width: 950px;
    height: 40px;
    margin: 0 auto;
    background: rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 0 4px 4px -4px darkgray;
    box-sizing: border-box;
}

.navbar-end p, i {
    margin-left: 13px;
    margin-top: 13px;
}

.navbar-end p {
    font-size: 13px;
    font-weight: lighter;
}